
/* Container for background and alignment */
div#container { background: url('../images/bg.gif') repeat-y fixed center 20px; width:785px; margin: 0 auto;}

/* Space to the left of the standard UA Menu 
div#left_padding { width:100px; height:42px; margin: 0; float:left; display:block; background:#330066; } */

/* Standard UA Menu */
div#mainNav { float:right; clear:none; width:755px; background: #E1C42E; }
div#yellowNavBar { }

/* Main Header Style for when flash does not load */
div#main h1 { padding:5px; margin:0; color:white; background:#330066; font-size: 2em; }

/* Needed to stop IE 3px gap */
div#float_wrap { width:755px; float:right; margin:0;  margin-top:147px; padding:0; } 

/* Division header graphic */
div#header { clear:both; background: url('../images/header_bg2.jpg'); height:38px; margin-bottom:50px;}

/* Background color for flash content */
div#flashcontent { background: #330066; }

/* Sub pages */

div#columns { position:relative;}
div#columns div#leftcol {float: left; width:160px; margin-top:-14px; border-right-width:thin; border-right-color:#e1c42e; border-right-style:solid; background-color: #F7F2DC;}
#sidenav ul {
	margin: 0px;
	padding: 0px;
}
#sidenav li {
	list-style-type: none;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
}
#sidenav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	list-style-image: none;
	list-style-type: none;
	background-color: #F7F2DC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	font-size:10px;
}




.purplehead {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #433364;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-weight: bold;
	font-size: .95em;
}
.purplehead a {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: #433364;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-weight: bold;
	font-size: .95em;
}

div#columns div#rightcol {float: left; width:500px; margin-left:40px; margin-bottom:10px;}
div#columns div#rightcol h2{font-family:Verdana, Arial, Helvetica, sans-serif; margin-left:10px; font-size:24px; font-weight:bold; color:#330066;}
div#columns div#rightcol p{ background:#F8F8F8; border: 2px solid #330066; margin-bottom:10px; margin-left:20px; margin-right:10px; padding:10px;}
#rightcol a{ font-weight:bold;}

/* Table Shading */
.even {background-color:#bbbbbb;}
.failed {color:#ff0000;}

.passed {color:#006600;}

form { background:#F8F8F8; border: 2px solid #330066; margin-bottom:10px; margin-left:20px; margin-right:10px; padding:10px;}
div#orgchart { background:#F8F8F8; border: 2px solid #330066; margin-bottom:10px; margin-left:20px; margin-right:10px; padding:10px;}
li.tier1 { font-weight:bold; font-size:20px; };
li.tier2 { font-weight:normal; font-size:16px };
li.tier3 { font-size:12px; };
li.tier4 { font-size:10px; };




/* Description text */
div#description { font-family:Arial; padding:0; margin:0; background:url('../images/desc_main.gif') no-repeat; height:170px;}
/* div#description div#main_par { font-size: 1em; float:left; text-indent:1em; padding:5px 0 0 10px; margin:0; font-weight:bold; width:200px; height:140px; } */

/* Main descriptional text, extra links and news*/
div#main_content { font-family:Arial; padding:0; margin:0; background:url('../images/mainpar_bg.gif') no-repeat; height:100%;}
div#main_content div#main_news { font-size: 1em; float:left; text-indent:0em; padding:5px 6px 0px 10px; margin:0; font-weight:bold; width:280px; height:80px; }
div#middle_buttons { float:left; /* background:#306; */ margin:auto 0 0 auto; padding: 0; width:180px; height:100%; }
div#middle_buttons ul { list-style:none; margin:0; padding:2px 0 2px 2px; width:130px; } 
div#middle_buttons li a{ float: right; width:128px; height:30px; padding:0; display:block; border-top: 1px solid #306; border-bottom: 1px solid #306; }
div#middle_buttons a:hover { border-color: #F7F2DC; }
div#right_icons {float:right; width:277px; height:100%; display: block;}
div#right_icons a {display: block; width: 135px; height: 40px; margin: 2px 0 0 0; }
div#right_icons a.spirit {float:left; background:url('../images/banner_spirit.gif') no-repeat; }
div#right_icons a.chapel {float:right; margin: 2px 1px 0 0; background:url('../images/banner_chapel.gif') no-repeat; }
div#right_icons a:hover {background-position: -135px 0;}
div#right_icons li.left {float:left; list-style:none; padding:0; margin: 0px -40px;}
div#right_icons li.right {float:right; list-style:none; padding:0; margin: 0px 6px;}



/* Vice President's link in the middle */
div#vp_link { margin:0; padding:0; font-size: 13pt;  }
div#vp_link a{ border-bottom: 1px solid #F7F2DC; background-color: #330066; padding: 2px; text-align:center; color:white; display:block; }
div#vp_link a:hover{ border-bottom: 1px solid #F7F2DC; background-color: #663399; }
div#vp_link a.small_vpl{ font-size:12px; }

/* Footer background */
div#p_footer { background: url('../images/foot-bg.gif') 0px -20px; height:7px; display:block; margin:0; padding:0; }

/* Image background for footer */
div#foot_image { background: url('../images/bottom.gif'); width:786px; height:20px; }

/* Format for quick links menu */
select#links2 { margin-top:7px; }

/* Hidden text */
p.hidden { visibility:hidden; }

/* Org Chart CSS */


#divbody {
  height: 1048px;
    position: relative;
  z-index: 5;
}
/* connecting lines */
#divbody #divlines {
  position: absolute;
  left: -25 px;
  top: 30px;
  z-index: -1;
}
/* common to small boxes in org chart */
#divbody .divsmallbox {
border:solid;
border-width:thin;
padding-top:8px;
padding-left:2px;
  position: absolute;
  width: 75px;
  height: 40px;
  z-index: 5;
  margin: 0px;
  /* in case of no graphics, or before graphic appears... */
  font-family: Verdana, Arial, Lucida, Helvetica, sans-serif;
  font-size:10px;
  font-weight: normal;
  background-color:#ffffff;
  color: #000000;
}

/* individual boxes */
/* president */
#divbody #divpresident {
  left: 225px;
  top: 10px;
}
#divbody #divsenate {
  left: 100px;
  top: 10px;
}
#divbody #divcourt {
  left: 330px;
  top: 10px;
}
#divbody #divops {
  left: 225px;
  top: 85px;
}
#divbody #divaops {
  left: 225px;
  top: 160px;
}
#divbody #divaas {
  left: 225px;
  top: 235px;
}
#divbody #divcos {
  left: 450px;
  top: 85px;
}
#divbody #divvp {
  left: 0px;
  top: 85px;
}
#divbody #divsls {
  left: 110px;
  top: 85px;
}
#divbody #divsec {
  left: 110px;
  top: 160px;
}

#divbody #divcomp {
  left: 340px;
  top: 85px;
}
#divbody #divdepcomp {
  left: 350px;
  top: 160px;
}
#divbody #divacomp {
  left: 350px;
  top: 235px;
}
#divbody #divscouncil {
  left: 460px;
  top: 160px;
}
#divbody #divsacouncil {
  left: 460px;
  top: 235px;
}
#divbody #divea {
  left: 10px;
  top: 235px;
}
#divbody #divelections {
  left: 10px;
  top: 310px;
}
#divbody #divgender {
  left: 10px;
  top: 385px;
}
#divbody #divmca {
  left: 10px;
  top: 460px;
}
#divbody #divathletics {
  left: 10px;
  top: 535px;
}
#divbody #divleg {
  left: 10px;
  top: 610px;
}
#divbody #divcp {
  left: 10px;
  top: 685px;
}
#divbody #divcpe {
  left: 115px;
  top: 685px;
}
#divbody #divprog {
  left: 10px;
  top: 760px;
}
#divbody #divuprog {
  left: 115px;
  top: 760px;
}
#divbody #divaprog {
  left: 25px;
  top: 835px;
}
#divbody #divmarket {
  left: 10px;
  top: 910px;
}
#divbody #divamarket {
  left: 25px;
  top: 995px;
}
#divbody #divatv {
  left: 125px;
  top: 910px;
}
#divbody #divaatv {
  left: 140px;
  top: 995px;
}
