vti_encoding:SR|utf8-nl
_private/inforeq.htm:White\\ Pine\\ Lodg.htm Birches\\ Lodge_copy(1).htm Birches\\ Lodge.htm White\\ Pine\\ Lodge.htm Collins\\ Lodge.htm Farmhouse.htm
_private/inforeq.txt:feedback.htm
_private/index.htm.cnt:index.htm
Garnet Lodge:Garnet.htm
Lettered Sites:Lettered\\ Sites.htm
